/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.left{
    float: left;
}

/* header */

header{
    height: 100px;
    line-height: 100px;
    background-color: rgb(0, 63, 136);
}

.header-container{
    width: 80%;
    margin: 0 auto;
}

.logo,
.accesso{
    width: 25%;
}

.logo img{
    vertical-align: middle;
}

nav{
    width: 50%;
    text-align: center;
}

nav li{
    display: inline-block;
    /* list-style: none; */
}

nav li a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.accesso{
    text-align: right;
}

.accesso a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
}



/* debug */

/* .debug header{
    background-color: red;
} */

/* .debug .header-container{
    background-color: black;
    height: 100px;
} */

/* .debug .header-container div{
    background-color: blue;
    border: 1px solid black;
    height: 100%;
} */

/* .debug nav{
    background-color: pink;
    border: 1px solid black;
    height: 100%;
} */

.debug .jumbotron{
    background-color: green;
    height: 500px;
}

.debug main{
    background-color: #abc;
    height:1000px;
}

.debug footer{
    background-color: #1ff;
    height: 200px;
}